/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 186px;
    // padding: 0.8rem 1rem;
  }

  .topbar {
    .containerish {
      padding: .3rem 1rem;
    }
  }

  .main-content-wrapper {

    /* HERO ----------------------------------------------------------------- */
    .hero {
      .containerish {
        padding: 40px 20px;
        justify-content: center;
        align-items: flex-end;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba($color-main, 0);
        }

        .section-info {
          z-index: 2;
          text-align: center;
        }
      }
    }

    /* BODY ----------------------------------------------------------------- */
    .body {
      margin-top: 2rem;

      .containerish {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;

        .section-info {
          padding: 40px 20px;
          height: 100%;
        }
      }
    }

    /* ABOUT ---------------------------------------------------------------- */
    .dr-bio {
      margin-top: 2rem;

      .containerish {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .section-info {
          grid-row: 1;
          grid-column: 2;
          padding: 40px 20px;
        }
      }
    }
  }

}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    padding: 1.3rem 0.3rem;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    background-color: transparent;
    padding: .3rem 1rem;

    .containerish {
      padding: .3rem 0;
    }
  }

  /* NAVBAR ***************************************************************** */
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .main-content-wrapper {

    /* HERO ----------------------------------------------------------------- */
    .hero {
      margin-top: 1rem;
    }

    /* BODY ----------------------------------------------------------------- */
    .body {
      margin-top: 2rem;

      .containerish {
        grid-template-columns: 1fr 100px 1fr;
        align-items: flex-start;

        .section-info {
          padding: 100px 4rem 50px 20px;
          height: auto;
          grid-column: 1 / 3;
          grid-row: 1;

          // .ui-btn {
          //   min-width: 186px;
          // }
        }

        .section-img {
          grid-row: 1;
          grid-column: 2 / -1;
          width: 100% !important;
          height: auto;
          background: blue;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  .main-content-wrapper {

    .ui-btn {
      padding: 1.3rem 1.5rem;
    }

    /* BODY ----------------------------------------------------------------- */
    .body {
      margin-top: 5rem;

      .containerish {
        grid-template-columns: 1fr 100px 1r;
        align-items: flex-start;

        .section-info {
          padding: 130px 10px 130px 2rem;
          height: auto;
          grid-column: 1 / 3;
          grid-row: 1;

        }

        .section-img {
          grid-row: 1;
          grid-column: 2 / -1;
          width: 100% !important;
          height: auto;
          background: blue;
          margin-top: 3rem;
        }
      }
    }

    /* ABOUT ------------------------------------------------------------------ */
    .dr-bio {
      margin-top: 5rem;

      .containerish {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;

        .section-img {
          background: url('../../img/dr-img@2x.jpg') center / cover;
          height: 75vh;
          max-height: 712px;
        }

        .section-info {
          background: url('../../img/dr-content-bg@2x.jpg') center / cover;
          grid-row: 1;
          padding: 40px 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          padding: 3rem 8rem;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {
  .main-content-wrapper {

    .body,
    .dr-bio {
      margin-top: 6rem;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {}