/* ************************************************************************** */
/* ************************* Main Content Sections ************************** */
/* ************************************************************************** */

/* MAIN CONTENT WRAPPER ----------------------------------------------------- */
.main-content-wrapper {
  background: rgba($color-white, .8);
  width: 100%;
  max-width: 1300px;
  min-height: 1000px;
  margin: 0 auto;

  /* MAIN CONTENT HEADER ---------------------------------------------------- */
  .page-header {
    padding-top: 2rem;


    .containerish {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .main-logo {
        width: 308.17px;
        height: 80.39px;
      }
    }
  }

  /* HERO ------------------------------------------------------------------- */
  .hero {
    .containerish {
      padding: 40px 20px;
      max-width: 1200px;
      height: 75vh;
      max-height: 560px;
      background: url('../../img/hero-img@2x.jpg') center / cover;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-main, .8);
      }

      .section-info {
        z-index: 2;
        text-align: center;
      }
    }
  }

  /* CTA -------------------------------------------------------------------- */
  .cta {
    .containerish {
      max-width: 1200px;
      background: $color-dark-accent;
      padding: 1rem 2rem;
      text-align: center;

      p {
        font-family: $font-secondary;
        font-size: 0.9375rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
  }

  /* BODY ------------------------------------------------------------------- */
  .body {
    .containerish {
      max-width: 1200px;
      display: grid;

      .section-info {
        background: url('../../img/body-content-bg@2x.jpg') top / cover;
        padding: 40px 20px;

        p {
          max-width: 372px;
        }
      }
    }
  }

  /* ABOUT ------------------------------------------------------------------ */
  .dr-bio {
    .containerish {
      display: grid;
      align-items: center;

      .section-img {
        background: url('../../img/dr-img@2x.jpg') center / cover;
        height: 75vh;
        max-height: 712px;
      }

      .section-info {
        background: url('../../img/dr-content-bg@2x.jpg') center / cover;
        grid-row: 1;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }
    }
  }

  /* FACE ------------------------------------------------------------------- */
  .face {
    .containerish {
      max-width: 1200px;
      display: grid;

      .section-info {
        background: url('../../img/face-content-bg@2x.jpg') top / cover;
        padding: 40px 20px;

        p {
          max-width: 372px;
        }
      }
    }
  }

  /* MIND ------------------------------------------------------------------- */
  /* PRODUCTS --------------------------------------------------------------- */
}


/* APPOINTMENTS ------------------------------------------------------------- */