/* ************************************************************************** */
/* ************************* Main Content Sections ************************** */
/* ************************************************************************** */

/* MAIN CONTENT WRAPPER ----------------------------------------------------- */
.main-content-wrapper {
  background: rgba($color-white, .8);
  width: 100%;
  max-width: 1300px;
  min-height: 1000px;
  margin: 0 auto;

  /* MAIN CONTENT HEADER ---------------------------------------------------- */
  .page-header {
    padding-top: 2rem;


    .containerish {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .main-logo {
        width: 308.17px;
        height: 80.39px;
      }
    }
  }

  /* HERO ------------------------------------------------------------------- */
  .hero {
    .containerish {
      padding: 40px 20px;
      max-width: 1200px;
      height: 75vh;
      max-height: 560px;
      background: url('../../img/hero-img@2x.jpg') center / cover;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-main, .8);
      }

      .section-info {
        z-index: 2;
        text-align: center;
      }
    }
  }

  /* CTA -------------------------------------------------------------------- */
  .cta {
    .containerish {
      max-width: 1200px;
      background: $color-dark-accent;
      padding: 1rem 2rem;
      text-align: center;

      p {
        font-family: $font-secondary;
        font-size: 0.9375rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }
  }

  /* BODY ------------------------------------------------------------------- */
  .body {
    .containerish {
      max-width: 1200px;
      display: grid;

      .section-info {
        background: url('../../img/body-content-bg@2x.jpg') top / cover;
        padding: 40px 20px;

        p {
          max-width: 372px;
        }
      }
    }
  }

  /* ABOUT ------------------------------------------------------------------ */
  .dr-bio {
    .containerish {
      display: grid;
      align-items: center;

      .section-img {
        background: url('../../img/dr-img@2x.jpg') center / cover;
        height: 75vh;
        max-height: 712px;
      }

      .section-info {
        background: url('../../img/dr-content-bg@2x.jpg') center / cover;
        grid-row: 1;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }
    }
  }

  /* FACE ------------------------------------------------------------------- */
  .face {
    .containerish {
      max-width: 1200px;
      display: grid;

      .section-info {
        background: url('../../img/face-content-bg@2x.jpg') top / cover;
        padding: 40px 20px;

        p {
          max-width: 372px;
        }
      }
    }
  }

  /* MIND ------------------------------------------------------------------- */
  .mind {
    .containerish {
      display: grid;

      .section-info {
        background: url('../../img/mind-content-bg@2x.jpg') center / cover;
        padding: 40px 20px;
        text-align: center;
        grid-row: 1;
      }

      .col-left {
        background: url('../../img/mind-img-1@2x.jpg') center / cover;
        height: 50vh;
        max-height: 747px;
      }

      .col-right {
        background: url('../../img/mind-img-2@2x.jpg') center / cover;
        height: 50vh;
        max-height: 747px;
      }
    }
  }

  /* PRODUCTS --------------------------------------------------------------- */
  .products {
    .containerish {
      max-width: 1200px;
      background: url('../../img/products-bg@2x.jpg') center / cover;
      min-height: 100vh;
      max-height: 1032px;
      position: relative;

      .product-wrapper {
        background: url('../../img/product-wrapper-bg@2x.png') top / cover;
        padding: 40px 20px;
        width: 100%;
        max-width: 466px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          margin-top: 7rem;
          margin-bottom: 2rem;
        }

        .product-box {
          width: 334px;
          height: 193px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;

          .product-link {
            border: 1px solid $color-white;
            padding: 1rem 3.5rem;
            color: $color-white;
            font-family: $font-secondary;
            font-size: 1.5625rem;
            transition: all .2s ease-in-out;

            &:hover {
              text-decoration: none;
              border: 1px solid lighten($color-main, 30);
              background: lighten($color-main, 20);
              color: darken($color-main, 10);
              transition: all .2s ease-in-out;
            }
          }
        }

        .product-box:last-child {
          margin-bottom: 0;
        }

        .product-1 {
          background: url('../../img/product-1@2x.jpg') center / cover;
        }

        .product-2 {
          background: url('../../img/product-2@2x.jpg') center / cover;
        }

        .product-3 {
          background: url('../../img/product-3@2x.jpg') center / cover;
        }

      }
    }
  }
}


/* APPOINTMENTS ------------------------------------------------------------- */
.appointments {
  background: url("../../img/appointments-bg@2x.jpg") center / cover;
  min-height: 400px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-copy {
    text-align: center;
  }

  .appointment-wrapper {
    flex: 1;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 865px;
    display: grid;

    .form-copy {
      text-align: center;
    }

    .form-control {
      border-radius: 0;
      height: 45px;
    }

    input:not(:last-child) {
      margin-bottom: 0.5rem;
    }

  }
}