/* ************************************************************************** */
/* ************************* Main Content Sections ************************** */
/* ************************************************************************** */

/* MAIN CONTENT WRAPPER ----------------------------------------------------- */
.main-content-wrapper {
  background: rgba($color-white, .8);
  width: 100%;
  max-width: 1300px;
  min-height: 1000px;
  margin: 0 auto;

  /* MAIN CONTENT HEADER ---------------------------------------------------- */
  .page-header {
    padding-top: 2rem;


    .containerish {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .main-logo {
        width: 308.17px;
        height: 80.39px;
      }
    }
  }

  /* HERO ------------------------------------------------------------------- */
  /* CTA -------------------------------------------------------------------- */
  /* BODY ------------------------------------------------------------------- */
  /* ABOUT ------------------------------------------------------------------ */
  /* FACE ------------------------------------------------------------------- */
  /* MIND ------------------------------------------------------------------- */
  /* PRODUCTS --------------------------------------------------------------- */
}


/* APPOINTMENTS ------------------------------------------------------------- */